[Desktop Entry]
Encoding=UTF-8
Name=Gzilla
Comment=Gzilla - lynx with pictures
Comment[pl]=Gzilla - lynx z obrazkami
Exec=gzilla
Terminal=false
Type=Application
# vi: encoding=utf-8
